<%= bootstrap_form_for(:session, url: login_path) do |f| %>

  <div class="field">
     <%= f.email_field :email, :placeholder => "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, :placeholder => "Password" %> 
    </div>

  <div class="actions">
    <%= f.submit "Login", class: "btn btn-success"%>
  </div>
  
<% end %>
